<ion-header-bar class="item-input-inset header bg-secondary">
    <label class="item-input-wrapper">
        <i class="icon ion-ios-search placeholder-icon"></i>
        <input type="text" id="searchCity" placeholder="Enter a city name" ng-model="cityName">
    </label>
    <button class="button" ng-click="getData()"> 
        Search
    </button>
</ion-header-bar>
<ion-content ng-hide="content == false" on-swipe-up="showInfo()" on-swipe-down="showOther()" class="has-footer bg-primary">
    <div id="city">
        <h2 class="font-weight-bold text-light">{{ datas.name }}</h2>
        <h4 class="font-weight-bold text-white">{{ datas.sys.country }}</h4>
        <p>{{ day }}  {{ time }}</p>
    </div>
    <div id="cloud-icon">
        <img ng-src="{{ imgUrl }}" alt="Weather Img">
        <!-- <img class="back-image" src="../img/cloudy.png"> -->
    </div>
    <div class="climate text-white">
        <div id="temp">
            <span id="value" ng-click="changeTemp()">
                <b>{{ temperature | number:0 }}</b>
                <span ng-show="cToF === true">&deg;F</span>
                <span ng-show="!cToF === true">&deg;C</span>
            </span>
        </div>
        <div id="weather-description">
            <p>{{ datas.weather[0].description | uppercase }}</p>
        </div>
    </div>
    <!-- OTHER BLOCK -->
    <div class="other text-white" ng-hide="swipe == true">
        <div class="humidity">
            <i class="wi wi-cloudy text-blue"></i>
            <p>Humidity</p>
            <b>{{ datas.main.humidity }} %</b>
        </div>
        <div class="min-max">
            <i class="wi wi-thermometer wi-rotate-270 text-blue"></i>
            <div class="row">
                <div class="col">Min.</div>
                <div class="col">Max.</div>
            </div>
            <div class="temp-table row">
                <div class="col">
                    <b>{{ (temperatureMin) | number:0 }}</b>&deg;
                    <span ng-show="cToF === true">F</span>
                    <span ng-show="!cToF === true">C</span>
                </div>
                <div class="col">
                    <b>{{ (temperatureMax) | number:0 }}</b>&deg;
                    <span ng-show="cToF === true">F</span>
                    <span ng-show="!cToF === true">C</span>
                </div>
            </div>
        </div>
        <div class="wind">
            <i class="wi wi-strong-wind text-blue"></i>
            <p>Wind</p>
            <b>{{ datas.wind.speed }} m/sec</b>
        </div>
    </div>
    <!-- INFO BLOCK -->
    <div class="info" ng-show="swipe == true" transparent>
        <div class="card box-shadow">
            <div class="item bg-secondary">
                Sunrise : <span class="right-text">{{ sunrise }}</span>
            </div>
            <div class="item bg-secondary">
                Sunset : <span class="right-text">{{ sunset }}</span>
            </div>
            <div class="item bg-secondary">
                Pressure: <span class="right-text">{{ datas.main.pressure }} hPa</span>
            </div>
            <div class="item bg-secondary">
                Wind: <span class="right-text">{{ datas.wind.deg }} meter/sec</span> 
            </div>
        </div>
    </div>
</ion-content>
<footer class="bar bar-footer bg-primary">
    <i class="icon ion-ios-information" ng-click="openModal()"></i>
    <i class="icon ion-chevron-up arrow" ng-show="swipe == true"></i>
    <i class="icon ion-chevron-down arrow" ng-hide="swipe == true"></i>
    <i class="icon ion-ios-navigate location" ng-click="getDataByCoords(lat, long)"></i>
</footer>
